#mtcars-btn {
     font-size: x-small;
     padding: 0.2rem 0.3rem !important;
   }

#down-btn {
 margin-right: 2px;
 margin-left: 2px;
}

a:has(#mtcars-btn) {
 text-decoration: none !important;
}

.btn {
  padding: 2px 6px;
  background-color: #48d9ca;  /* Bootstrap blue */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #37ab9f; /* Darker blue on hover */
}